@media screen {
body{
    background-image: linear-gradient(to bottom, #65ecfd, #8fe6ff, #c3deff, #ead7ff, #ffd5ef);
    background-attachment: fixed;
    background-size: cover;
}
#outercontainer{
    position: absolute;
    top:140px;
    left:310px;
    width: 50%;
    height: 70%;
}
#leftarrow{
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    background:rgb(7, 1, 96);
    position: relative;
    top: 130px;
}
#rightarrow{
    float: right;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    background:rgb(7, 1, 96);
    position: relative;
    top: 130px;
}
#icon1{
    position: relative;
    left: 10px;
    top:-1px;
    color: ghostwhite;
}
#icon2{
    position: relative;
    right: -10px;
    top:-1px;
    color: ghostwhite;
}
.innercontainer{
    position: absolute;
    left:68px;
    width: 90%;
    height: 90%;
}
#circleicon{
    position: relative;
    top: 300px;
    left:270px;
}
.slide{
    display: none;
}
#mark1, #mark2, #mark3, #mark4{
    color: rgb(7, 1, 96);
}
img{
    position: relative;
    width: 87vh;
    height: 50vh;
}
}